<% if user_signed_in? %>
    <%= render partial: "layouts/shared/arka_taraf/navbar" %>
<% end %>
<!--Breadcrumbs ==================================================
================================================== -->
<div class="breadcrumbs">
  <div class="container">
    <header>
      <h3>Contact Page</h3>
      <p>- Free, fully <span class="pink">responsive HTML</span> site template made by <a href="http://www.anarieldesign.com/" rel="nofollow"><strong>Anariel Design</strong></a> -</p>
    </header>
  </div>
  <!-- container ends here -->
  <hr class="separator1">
</div>
<!-- breadcrumbs ends here --> 
<!-- Contact Content Part - GoogleMap ==================================================
================================================== -->
<section class="map"> 
  <!-- google map -->
  
  <!--map-holder ends here--> 
</section>

<!-- Contact Content Part - Contact Form ==================================================
================================================== -->
<div class="container contact"> 
  <!-- Contact Sidebar ==================================================
================================================== -->
 

  <div class="container latest ">
                    <div class="two_third">
                        <div class="about_left_content">
                            <h4>Since 1994</h4>
                            <p>1994 Yılında ilk yerimizi Gaziantep de açtık.İlk yerimizin adı Gül elektrik'di.Taki 2015 yılına kadar bu isim ile ilerlememizi sürdürmüşüzdür.2015 yılında Avize dünyasına ilk adımı atarak isim değişikligine gitmişizdir.2015 den bugüne kadar bir çok farklı avize ve aydınlatma çeşidi üreterek AG Elektrik ve Aydınlatma olarak bu dünyaya yeni bir soluk getirmeye başlamışızdır.Kişilerin özel avize tasarımları yaparak son derece müşteri memnuniyeti anlayışımızı sürdürmekteyiz.Bizleri seçerek destek olduğunuz için sizlere sonsuz teşekkürlerimizi sunarız.
                                Yaptıklarımız;
                           </p>
                            <ul>
                                <li><a href="#"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Özel tasarım tavan avizeleri.</a></li>
                                <li><a href="#"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Kişiye özel istek üzerine spot desenleri</a></li>
                                <li><a href="#"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> En iyi şekilde gizli ışık tasarımları ve döşemeleri.</a></li>
                                <li><a href="#"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Profesyonel ekibimiz ile daire,dükkan ve villarınızın a-z bütün elektrik aksamı yapımı ve onarımı.</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="one_third lastcolumn">
                        <div class="about_right_image">
                            <img src="https://i2.wp.com/www.arthenos.com/wp-content/uploads/2017/08/Manzara_fotografciligi_2.jpg?resize=696%2C522&ssl=1" alt="">
                        </div>
                    </div>
                </div>


  <br>
  <hr>
  <br>
  
  <div class="container latest ">
    <div class="one_third lastcolumn">
    <h3>Our Info</h3>
    <section class="first shadow">
      <ul>
        <li>123456 Street Name, London</li>
        <li>Phone: (1800) 987-12341</li>
        <li>Fax: (1800) 987-12341</li>
        <li>Website: <a href="#" title="">http://yoursitename.com</a></li>
        <li>Email: <a href="#" title="">info@freebix.com</a></li>
      </ul>
    </section>
  </div>
                    <div class="two_third " >
                        <div class="about_left_content" style="padding-left: 20px;" >
                            <h4>Since 1994</h4>
                            <p>1994 Yılında ilk yerimizi Gaziantep de açtık.İlk yerimizin adı Gül elektrik'di.Taki 2015 yılına kadar bu isim ile ilerlememizi sürdürmüşüzdür.2015 yılında Avize dünyasına ilk adımı atarak isim değişikligine gitmişizdir.2015 den bugüne kadar bir çok farklı avize ve aydınlatma çeşidi üreterek AG Elektrik ve Aydınlatma olarak bu dünyaya yeni bir soluk getirmeye başlamışızdır.Kişilerin özel avize tasarımları yaparak son derece müşteri memnuniyeti anlayışımızı sürdürmekteyiz.Bizleri seçerek destek olduğunuz için sizlere sonsuz teşekkürlerimizi sunarız.
                                Yaptıklarımız;
                           </p>
                            <ul>
                                <li><a href="#"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Özel tasarım tavan avizeleri.</a></li>
                                <li><a href="#"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Kişiye özel istek üzerine spot desenleri</a></li>
                                <li><a href="#"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> En iyi şekilde gizli ışık tasarımları ve döşemeleri.</a></li>
                                <li><a href="#"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Profesyonel ekibimiz ile daire,dükkan ve villarınızın a-z bütün elektrik aksamı yapımı ve onarımı.</a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
</div>

<div class="blankSeparator"></div>



<script>
    $(document).ready(function(){
        $($('.sf-menu').find('li').find('a')[3]).attr('id','visited');
    });
</script>