<% if user_signed_in? %>
    <%= render partial: "layouts/shared/arka_taraf/navbar" %>
<% end %>





<div class="infobox">
  <div class="container info">
    <header>
      <h1>AG Elektrİk ve Aydınlatma</h1>
      <p class="baslik"> HOŞGELDİNİZ </p>
    </header>
    <hr class="separator">
  </div>
  <!-- container ends here --> 
</div>
<!-- infobox ends here --> 
<!--Latest Photos ==================================================
================================================== -->
<div class="container latest">
  <div class="one_third">
    <figure class="shadow"><a href="#" class="thumb"><%= link_to image_tag ("a.jpg") %></a>
      <figcaption> <a href="#">
        <h3 class="heading">Tavan Model Avİzeler</h3>
        </a>
        <p class="bioquote"> Kişiye Özel Tasarım </p>
      </figcaption>
    </figure>
  </div>
  <!-- one_third ends here -->
  <div class="one_third">
    <figure class="shadow"><a href="#" class="thumb"><%= link_to image_tag ("b.jpg") %></a>
      <figcaption> <a href="#">
        <h3 class="heading">Led Spotlar</h3>
        </a>
        <p class="bioquote"> Kişiye Özel Renk ve Desenler </p>
      </figcaption>
    </figure>
  </div>
  <!-- one_third ends here -->
  <div class="one_third lastcolumn">
    <figure class="shadow"><a href="#" class="thumb"><%= link_to image_tag ("c.jpg") %></a>
      <figcaption> <a href="#">
        <h3 class="heading">Sarkıt Avİze</h3>
        </a>
        <p class="bioquote"> Kişiye Özel Tasarım </p>
      </figcaption>
    </figure>
  </div>
  <!-- one_third ends here --> 
</div>




<script>
    $(document).ready(function(){
        $($('.sf-menu').find('li').find('a')[0]).attr('id','visited');
    });
</script>