<!--================End Recent Blog Area =================-->
        <footer class="footer_area">
            <div class="footer_widget_area">
                <div class="container">
                    <div class="row">

                      <div class="col-md-6">
                            <aside class="f_widget contact_widget">
                                <div class="f_w_title">
                                    <h4>İLETİŞİM</h4>
                                </div>
                                <p>Soru görüş ve önerileriniz için:</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-envelope"></i>agelektrik@gmail.com</a></li>
                                    <li><a href="#"><i class="fa fa-phone"></i>0507 191 3895</a></li>
                                    <li><a href="#"><i class="fa fa-map-marker"></i>KaracaAhmet Mah. 38024 nolu sokak NO/4,<br /> Şehitkamil / Gaziantep</a></li>
                                </ul>
                            </aside>
                        </div>
                        
                        <div class="col-md-6">
                            <aside class="f_widget gallery_widget">
                                <div class="f_w_title">
                                    <h4>İlgİlİ Görseller</h4>
                                </div>
                                <ul>
                                    <li><a href="#"><img src="img/gallery/f-w-gallery/f-w-gallery-1.jpg" alt=""><i class="fa fa-search"></i></a></li>
                                    <li><a href="#"><img src="img/gallery/f-w-gallery/f-w-gallery-2.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="img/gallery/f-w-gallery/f-w-gallery-3.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="img/gallery/f-w-gallery/f-w-gallery-4.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="img/gallery/f-w-gallery/f-w-gallery-5.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="img/gallery/f-w-gallery/f-w-gallery-6.jpg" alt=""></a></li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy_right_area">
                <div class="container">
                    <div class="pull-left">
                        <h5><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->