<div id="header" style="background-color:#000">
  <div class="container"> 
    <!-- Header | Logo, Menu
		================================================== -->
    <div class="logo"><a href="/"><%= link_to image_tag("logo.png") %></a></div>
    
    <div class="mainmenu">
      <div id="mainmenu">
        <ul class="sf-menu">
          <li><a href="/">Ana Sayfa</a></li>
          <li><a href="/on_taraf/hizmetlerimiz/index">Hİzmetlerİmİz</a></li>
          <li><a href="/on_taraf/urun_resimleri/index">Ürün Resİmlerİ</a></li>
          <li><a href="/on_taraf/iletisim/index">İletİşİm</a></li>
        </ul>
      </div>
      <!-- mainmenu ends here --> 
      
      <!-- Responsive Menu -->
      <form id="responsive-menu" action="#" method="post">
        <select>
          <option value="">Sayfalar</option>
          <option value="/">Ana Sayfa</option>
          <option value="/on_taraf/hizmetlerimiz/index">Hizmetlerimiz</option>
          <option value="/on_taraf/urun_resimleri/index">Ürün Resimleri</option>
          <option value="/on_taraf/iletisim/index">İletişim</option>
        </select>
      </form>
    </div>
    <!-- mainmenu ends here --> 
  </div>
  <!-- container ends here --> 
</div>